<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xiaoli.amusementpark">
    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <use-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></use-permission>
    <use-permission android:name="android.permission.RESTART_PACKAGES"></use-permission>
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 闪屏页-->
        <activity android:name=".ui.SplashActivity" android:theme="@style/NoActivityFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"  />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 引导页-->
        <activity android:name=".ui.GuideActivity" android:theme="@style/NoActivityFullscreen"/>
        <!-- 登录页-->
        <activity android:name=".ui.LoginActivity" android:theme="@style/NoActivityFullscreen"/>
        <!-- 注册页-->
        <activity android:name=".ui.RegisterActivity" />
        <!-- 重置密码页-->
        <activity android:name=".ui.ResetPasswordActivity" />
        <!-- 主页-->
        <activity android:name=".MainActivity" android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!-- 商品详情-->
        <activity android:name=".ui.GoodsActivity"/>
        <!-- 景点介绍-->
        <activity android:name=".ui.WebViewActivity"/>
        <!-- 广告页面1-->
        <activity android:name=".ui.BannerOneActivity" />
        <!-- 广告页面2-->
        <activity android:name=".ui.BannerTwoActivity"/>
        <!-- 个人信息页-->
        <activity android:name=".ui.MyDetailActivity" />
        <!-- 个人信息页-->
        <activity android:name=".ui.WeatherActivity"/>
        <!-- 修改昵称页-->
        <activity android:name=".ui.NickNameActivity"/>
        <!-- 身份认证页-->
        <activity android:name=".ui.RealActivity"/>
        <!-- 更新页-->
        <activity android:name=".ui.AboutActivity"/>
        <!-- 填写订单页-->
        <activity android:name=".ui.OrderActivity"/>
        <!-- 百度地图服务-->
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="5oDE72lp8U5XwbGZmVb0a8Dpqfkp4kkZ" />

    </application>

</manifest>